################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Lab1_511_A21_2/v16/Browse.VC.opendb
/.vs/Lab1_511_A21/v16/Browse.VC.opendb
